@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
	<Found Context="routeData">
		<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
			<Authorizing>Please wait a sec...</Authorizing>
		</AuthorizeRouteView>
	</Found>
	<NotFound>
		<PageTitle>Not Found</PageTitle>
		<LayoutView Layout="@typeof(MainLayout)">
			<p role="alert">Sorry, There's nothing at this address.</p>
		</LayoutView>
	</NotFound>
</Router>
</CascadingAuthenticationState>